@model GeziDunyam.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Şifreyi Değiştir";
}

<h2 style="text-align:center">@ViewBag.Title</h2>

@*@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
   
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit"  value="Parolayı Değiştir" class="btn btn-primary" />
        </div>
    </div>
}*@

<form action="/Manage/ChangePassword" class="form-horizontal" method="post" role="form">
    <input name="__RequestVerificationToken" type="hidden" value="19Z7GwOOMF4d0O2zp2pYUSUAdQh3I7AWAxkNpIHJRgT6l0px9ZQL1Y9aL5Tg-tQKxUqrfzrhaY4MF3zzK0P-FnJzyNLS67EvJQ6xy-yImsnRV54NkTHV5muWudnFyKivFOGYR_3lbFZ5sdR5ycV6fg2" />    <hr />
    <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
        <ul>
            <li style="display:none"></li>
        </ul>
    </div>    <div class="form-group">
        <label class="col-md-2 control-label" for="OldPassword">Şuanki Parola</label>
        <div class="col-md-10">
            <input class="form-control" data-val="true" data-val-required="Şuanki parola alanı gereklidir." id="OldPassword" name="OldPassword" type="password" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="NewPassword">Yeni Parola</label>
        <div class="col-md-10">
            <input class="form-control" data-val="true" data-val-length=" Yeni Parola en az 6 karakter uzunluğunda olmalıdır." data-val-length-max="100" data-val-length-min="6" data-val-required="Yeni Parola alanı gereklidir." id="NewPassword" name="NewPassword" type="password" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="ConfirmPassword">Yeni Parolayı Doğrula</label>
        <div class="col-md-10">
            <input class="form-control" data-val="true" data-val-equalto="Yeni parola ve doğrulanacak parola eşleşmiyor." data-val-equalto-other="*.NewPassword" id="ConfirmPassword" name="ConfirmPassword" type="password" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Parolayı Değiştir" class="btn btn-primary" />
        </div>
    </div>
</form>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}