
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gezi Dünyam @ViewBag.Title</title>
    <!-- Bootstrap core CSS -->

    @Styles.Render("~/Content/bootstrap")

    <link href="~/Content/croppie.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->

    @Styles.Render("~/Content/css")


</head>

<body style="background-color:aliceblue" class="d-flex flex-column h-100">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
        <div class="container">
            @Html.RouteLink("Gezi Dünyam", "HomeDefault", null, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item  radiusClass">
                        @Html.RouteLink("Anasayfa", "HomeDefault", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item  radiusClass">
                        @Html.ActionLink("Hakkımızda", "About", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item  radiusClass">
                        @Html.ActionLink("İletişim", "Contact", "Home", null, new { @class = "nav-link" })
                    </li>

                </ul>

                @Html.Partial("_LoginPartial")

                <ul class="navbar-nav  ">
                    @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item d-lg-none radiusClass">
                            @Html.ActionLink("Yönetim", "Index", "Dashboard", new { area = "Admin" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item dropdown d-none d-lg-block btn mr-2 radiusClass ">
                            <div class="btn-group">
                                @Html.ActionLink("Yönetim", "Index", "Dashboard", new { area = "Admin" }, new { @class = "radiusClass" })
                                <a href="#" class="radiusClass dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </a>
                                <div class="dropdown-menu">
                                    @Html.ActionLink("Kategoriler", "Index", "Categories", new { area = "Admin" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Yazılar", "Index", "Posts", new { area = "Admin" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Yorumlar", "Index", "Comments", new { area = "Admin" }, new { @class = "dropdown-item" })
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">



            <!-- Sidebar Widgets Column -->
            <div class="col-md-3">

                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Ara</h5>
                    <div class="card-body">
                        @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { id = "frmSearch" }))
                        {
                            <div class="input-group">
                                @Html.TextBox("q", null, new { @class = "form-control", placeholder = "Arayın..." })
                                <span class="input-group-append">
                                    <button class="btn btn-outline-primary" type="submit">Ara !</button>
                                </span>
                            </div>
                        }


                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Kategoriler</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                @Html.Action("CategoriesPartial", "Home", new { area = "" })
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
                @*<div class="card my-4">
                        <h5 class="card-header">Side Widget</h5>
                        <div class="card-body">
                            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                        </div>
                    </div>*@

            </div>

            <!-- Blog Entries Column -->
            <div class="col-md-9 py-4 d-flex flex-column">

                @RenderBody()
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-4 bg-info mt-auto">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy;  2020 - Hakan Ölçer</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Areas/Admin/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script src="~/Scripts/croppie.min.js"></script>
    <script src="~/Scripts/Site.js"></script>

    @RenderSection("scripts", false)

</body>

</html>
